.btn{
    outline: none;
    box-shadow: none;
    border-width: 2px;
    border-radius: 3px;
    border-style: solid;
    padding: 8px;
}

.btn-primary{
    color: blueviolet;
    border-color: blueviolet;
    background-color: transparent;
}

input{
    width: 70%;
    border: none;
    border-top: 2px solid blueviolet;
    border-bottom: 2px solid blueviolet;
    margin-right: 10px;
    padding: 5px;
    line-height: 17px;
}

input:focus{
    outline: none;
    border: none;
    border-top: 2px solid blanchedalmond;
    border-bottom: blueviolet;
}